<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active" >Products</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/shopping-cart']" [routerLinkActive]='["link-active"]'>Shopping Cart
          <span
            *ngIf="cart$ | async as cart"
            class="badge badge-warning badge-pill">{{ cart.getTotalQuantity }}</span>
          <!-- <span class="sr-only">product quantity</span> -->
          <!-- <span class="sr-only">(current)</span> -->
        </a>
      </li>
      <li *ngIf="!authService.isLoggedIn()" class="nav-item active">
        <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]='["link-active"]'>Login </a>
      </li>
      <li *ngIf="authService.isLoggedIn()" ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{authService.getUserName()}}
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/my-orders']" [routerLinkActive]='["link-active"]'>My Orders</a>
          <a *ngIf="isAdmin()" class="dropdown-item" [routerLink]="['/manage-orders']" [routerLinkActive]='["link-active"]'>Manage Orders</a>
          <a *ngIf="isAdmin()" class="dropdown-item" [routerLink]="['/manage-products']" [routerLinkActive]='["link-active"]'>Manage Products</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/']" (click)='logout()'>Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
