<div class="container-fluid">
   <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <a class="list-group-item list-group-item-action" (click)="populateProducts()">
          All categories
        </a>
        <a class="list-group-item list-group-item-action" *ngFor="let item of categories" (click)="populateProducts(item.name)">
          {{ item.name }} </a>
      </div>
    </div>
    <div class="col-md">
      <div class="row">
        <ng-container *ngFor="let product of products; index as i">
          <div class="col">
            <product-card [product]="product">
            </product-card>
          </div>
          <div *ngIf="(i+1)%2 == 0" class="w-100 d-none d-md-block"></div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
